body {
    font-family: Helvetica, sans-serif, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #333;
    padding: 5px 40px;
    text-align: left;
}

section {
    padding: 0px;
    margin: 0px 50px;
    text-align: left;
}